body {
	background-color: #F8FFF0;
	margin: 0px;
	font-size: 12px;
	font-family:Verdana, Helvetica, sans-serif;
}
a {
	text-decoration:none;
	font-size: 12px;
}
a:link {
	color:#0066cc;
}
a:visited {
	color:#0066cc;
}
a:hover {
	color:#0066cc;
}
a:link {
	color: #0066cc;
	font-size: 12px;
}
h1 {
	font-size: 14px;
	color: #8A3700;
}
h2 {
	font-size: 12px;
	color: #006666;
}
h3 {
	font-size: 11px;
	color: #581D3A;
}
h4 {
	font-size: 9px;
	color: #581D3A;
}
table {
	background-color:#E6F2FF;
	font-size: 12px;
	width:800px;
	border-right:1px #0099FF solid;
	border-bottom:1px #0099FF solid;
	border-left:1px #0099FF solid;
	float:left;
}
.table2 {
	background-color:#FFFFEA;
}
th {
	background-color:#fff;
	font-size: 14px;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
}
.runAgainLink {
	background-color:#fff;
	margin:10px;
	padding:10px;
	font-size: 12px;
	text-decoration:none;
	float:right;
	border:1px #ccc solid;
}
.label {
	background-color:#FFF2E6;
	font-size: 12px;
	font-weight:bold;
	border-right:1px #0099FF solid;
	text-transform:uppercase;
}
th, td {
	padding:10px;
	vertical-align:top;
}
th {
	background-color:#FFBF80;
}
.linkBox {
	float:right;
	width:100%;
	background-color:#EAFFF4;
	border-top:1px #0099FF solid;
	border-bottom:1px #0099FF solid;
}
tr {
	border-bottom:1px #0099FF solid;
}
.argsCol {
	border-left:1px #0099FF solid;
	background-color:#f1f1f1;
	padding:5px;
	margin:5px;
}
.productName {
	background-color:#fff;
	font:Arial, Verdana, sans-serif;
	float:left;
	font-size:24px;
	padding:6px;
	width:100%;
}
#content {
	background-color:#fff;
	width:100%;
	float:left;
}
#content p, h1, h2 {
	padding:10px;
	margin:5px;
}
.titleDiv {
	background-color:#fff;
	font:Arial, Verdana, sans-serif;
	float:left;
	font-size:14px;
	padding:10px;
	width:100%;
	height:25px;
	vertical-align:middle;
	font-weight:bold;
}
